*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --font-main-color: #000;
  --main-color: #ed6436;
  --font-secondary-color: #fff;
}

body {
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font: inherit;
  border: none;
  background-color: transparent;
}

figure {
  margin: 0;
}

@media (hover: none) {
  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (hover: hover) {
  .block {
    padding: 70px;
  }
}
